<!DOCTYPE html>
<html lang="en">

<head>
  <title>Activity Log - Event Booking System</title>
  <%- include partials/html-head %>
</head>

<body class="booked">
  <%- include partials/navbar %>

     <div class="row justify-content-center fix">

<iframe src="https://embed.waze.com/iframe?zoom=12&lat=4.496&lon=114.001"
  width="1300" height="1400"></iframe>



</div>


    <!-- Sticky Footer -->
    <%- include partials/footer %>

      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <%- include partials/html-scripts %>
</body>

</html>