<!DOCTYPE html>
<html lang="en">

<head>
	<title>Appoint Booking System</title>
	<%- include partials/html-head %>
</head>



<body class="home-page">
	<%- include partials/navbar %>



		<!-- Begin page content -->
		<main class="container">




			<div class="row justify-content-center fix">

<button class="accordion"> /_\ </button>
<div class="panel">
<div class="container-fluid">
<div id='ARGtable-container'></div>
<div class="chart-container">
    <canvas id="ARGChart"></canvas>
</div>
</div>
</div>



				<div class="col-10 col-sm-8 col-md-6 col-lg-5 align-self-center">

<!-- America Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="america">
  <h2 class="w3-text-light-grey"> </h2>
    <hr style="width:200px" class="w3-opacity">



<div class="row align-items-center justify-content-center border rounded bg-white">



<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1YAQQ6yvz5qjPkTYHDzLW0Bj3MisQe2OE" width="750" height="400"></iframe>

<button class="accordion">Acasia Origin Miri</button>
<div class="panel">
<div class="container-fluid">
<div id='ARGtable-container'></div>
<div class="chart-container">
    <canvas id="ARGChart"></canvas>
</div>
</div>
</div>



<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1MNDrxIkFRHLBtZ_E7aN3eMVuC6aL6jNN" width="750" height="400"></iframe>

<button class="accordion">Acasia Origin Penang </button>
<div class="panel">
<div class="container-fluid">
<div id='ARGtable-container'></div>
<div class="chart-container">
    <canvas id="ARGChart"></canvas>
</div>
</div>
</div>


</div>

</div>
			</div>



<!-- America Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="america">
  <h2 class="w3-text-light-grey"> </h2>
    <hr style="width:200px" class="w3-opacity">




<button class="accordion">-------------------- HOW TO USE OUR WEBAPP -------------------- </button>
<div class="panel">
<div class="container-fluid">
<div id='ARGtable-container'></div>
<div class="chart-container">
    <canvas id="ARGChart"></canvas>
</div>
</div>
</div>


<button class="accordion"> Have materials to be sent out and recycled? </button>
<div class="panel">
<div class="container-fluid">
<div id='USAtable-container'></div>
<div class="chart-container">
    <canvas id="USAChart"></canvas>
</div>
</div>
</div>

<button class="accordion"> Refer map for self direction and self delivery to our location. </button>
<div class="panel">
<div class="container-fluid">
<div id='CANtable-container'></div>
<div class="chart-container">
    <canvas id="CANChart"></canvas>
</div>
</div>
</div>


<button class="accordion"> Register and Sign In if pickup service is required </button>
<div class="panel">
<div class="container-fluid">
<div id='MEXtable-container'></div>
<div class="chart-container">
    <canvas id="MEXChart"></canvas>
</div>
</div>
</div>

<button class="accordion"> Give us your address and contact number and we deploy our team. </button>
<div class="panel">
<div class="container-fluid">
<div id='BRAtable-container'></div>
<div class="chart-container">
    <canvas id="BRAChart"></canvas>
</div>
</div>
</div>

<!-- America Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="america">
  <h2 class="w3-text-light-grey"> </h2>
    <hr style="width:200px" class="w3-opacity">




<button class="accordion">-------------------- SERVICES OFFERED --------------------</button>
<div class="panel">
<div class="container-fluid">
<div id='ARGtable-container'></div>
<div class="chart-container">
    <canvas id="ARGChart"></canvas>
</div>
</div>
</div>


<button class="accordion"> Collection/Delivery of waste from the user/producer to companies </button>
<div class="panel">
<div class="container-fluid">
<div id='USAtable-container'></div>
<div class="chart-container">
    <canvas id="USAChart"></canvas>
</div>
</div>
</div>

<button class="accordion"> Selling of recycled/ recyclable (direct/ assisted transaction) </button>
<div class="panel">
<div class="container-fluid">
<div id='CANtable-container'></div>
<div class="chart-container">
    <canvas id="CANChart"></canvas>
</div>
</div>
</div>


<button class="accordion"> Info of which companies that are utilising the waste produced </button>
<div class="panel">
<div class="container-fluid">
<div id='MEXtable-container'></div>
<div class="chart-container">
    <canvas id="MEXChart"></canvas>
</div>
</div>
</div>

<button class="accordion"> Directories and contacts of companies of interest </button>
<div class="panel">
<div class="container-fluid">
<div id='BRAtable-container'></div>
<div class="chart-container">
    <canvas id="BRAChart"></canvas>
</div>
</div>
</div>
		</main>




		<!-- Sticky Footer -->
		<%- include partials/footer %>

			<!-- Bootstrap core JavaScript
    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<%- include partials/html-scripts %>






</body>

</html>




<style>
.accordion {
  background-color: #1f2029;
  color: #808080;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: centre;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: white; 
}

.panel {
  
  display: none;
  background-color: black;
  overflow-x: scroll;
}
</style>
</head>
<body>